/*Global */

#logo {
    width: 60px;
    height: 62px;
    position: fixed;
    top: 24px;
    left: 31px;
    font-size: 21px;
    color: #E0E0E0;
    background-repeat: no-repeat;
}

.backIcon {
    position: absolute;
    left: 25px;
    top: 26px;
    cursor: pointer;
}




.border-left, .border-right {
    width: 15px;
    top: 0px;
    bottom: 0px;
}

.border-top, .border-bottom {
    height: 15px;
    left: 0px;
    right: 0px;
}

.border-right {
    right: 0px;
}

.border-left {
    left: 0px;
}

.border-top {
    top: 0px;
}

.border-bottom {
    position: absolute;
    bottom: 0px;
    background: #F6F0E8;
}

.border-top, .border-left, .border-right {
    position: fixed;
    background: #F6F0E8;
    z-index: 999;
}

#my-video{
    margin: auto;
    padding-top: 50px;
}

/* typography */

h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 84px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 26.4px;
    letter-spacing: -2px;
}

h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.4px;
}

p {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    line-height: 28px;
}


/* positioning */

.title {
    margin-top: 190px;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 83px;
}

.subTitle {
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 83px;
    font-size: 36px;
}

.quote {
    font-family: 'georgia', serif;
    font-style: italic;
    font-size: 25px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    margin-top: 73px;
    font-weight: 100;
    color: #969696;
}

.abstract {
    max-width: 930px;
    margin-left: 150px;
    margin-right: 50px;
    margin-top: -46px;
}

.number {
    font-size: 36px;
    font-weight: 800;
    font-family: 'helvetica', sans-serif;
    width: 55px;
    height: 20px;
    border-bottom: 8px solid #ececec;
    position: absolute;
    top: 85px;
    right: 0px;
    line-height: 2px;
    color: #ececec;
}

#frame {
    width: 100%;
    min-height: 495px;
    overflow: hidden;
}

#frame2{
  width: 100%;
  min-height: 450px;
}


#frame img {
    max-width: 100%;
    height: auto;
    width: auto\9;
    /* ie8 */
}

.left {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
}

.right {
    position: relative;
    float: right;
    width: 50%;
    height: 100%;
}

.noMargin {
    margin-top: 0 !important;
}


/* Tank Jet Studios */

.tankjet {
    background: #1A1A1A;
    color: white;
}

.mark {
    float: left;
    width: 50%;
    height: 300px;
}

.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    width: 75%;
    margin-top: 200px
}

.romshu img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    margin-top: 277px;
}

.splash {
    width: 100%;
}

.tankjetLogo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    margin-top: 200px;
}

.tankjetMark {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    margin-top: 200px;
}

.tankjetFrame {
    background: #000;
}


/* Dynamic App */

#dynamicApp {
  background: #fff;
  color: #5f5f5f;
}

.dynamicFrame {
    background: #fff;
}


/* Smart Relief Loan

/* Conversational Interface

/* Manhattan Mini Storage */

.projectTitle {
    max-width: 830px;
    margin-top: 60px;
    margin-left: 210px;
    font-size: 24px;
    margin-bottom: -7px;
}

.projectDescription {
    max-width: 830px;
    margin-left: 239px;
    font-size: 17px;
    font-family: 'Hind Siliguri', sans-serif;
}

#videosList {
    max-width: 600px;
    overflow: hidden;
}

.video {
    background-image: url('http://img.youtube.com/vi/nZcejtAwxz4/maxresdefault.jpg');
    height: 330px;
    width: 600px;
    margin-bottom: 50px;
}


/* Hide Play button + controls on iOS */

video::-webkit-media-controls {
    display: none !important;
}
